.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding:20px;
    border:1px solid lightgray;
}
.login-container form input{
    height: 30px;
    margin-bottom: 10px;
    background-color:white;
    width:98%
}

.login-container form h5{
    margin-bottom: 5px;
}

.login-container p{

    margin-top: 15px;
    font: 12px;
}
.login-logo{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 80px;
    width: 120px;
    object-fit: contain;
}

.login-signin-btn{
background:#f0c14b;
border-radius: 2px;
height: 30px;
width: 100%;
border: 1px solid;
margin-top: 10px;
border-color: #a88734 #9c7e31 #846a29;
padding: 5px;

}

.login-signin-btn:hover{
    background:#f2b825;
    cursor: pointer;
    
    }


    .login-register-btn{
        border-radius: 2px;
        height: 30px;
        width: 100%;
        border: 1px solid;
        margin-top: 10px;
        background-color:lightgray;
        padding: 5px;
        
        }
        
        .login-register-btn:hover{
            cursor: pointer;
            background-color:rgb(223, 221, 221);
            
            }